*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'norse-bold';
    src: url('assets/Norse-Bold.woff2') format('woff2');
}

body{
    font-family: 'norse-bold',sans-serif;
    font-size: 16px;

    
}
html, body { height: 100%; 
}

.container{
    height: 100vh;
}


.header{
   
   position: absolute;
   top: 0;
   right: 0;
   
   
   background-color: rgb(207, 193, 193);
    font-size: 3em;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 500px;
   padding-left: 60px;
    padding-right: 30px;
    padding-top: 100px;
    
   

}

.head-txt{
    word-spacing: 10px;
}

#pre-wrap{
    white-space: pre-wrap;
   
}


.img-logo {
    position: relative;    /* establish a positioning context */
    float: left;
    width: 30%;
    height: 100vh;
    background: url(assets/halie-west-25xggax4bSA-unsplash.jpg)
                no-repeat center center;
    background-size: cover;
  }
  
  /* the little badge */
  .img-logo .logo-badge {
    position: absolute;           /* pull out of normal flow */
    top: 200px;                    /* adjust vertical offset */
                       /* adjust horizontal offset */
    display: inline-flex;         /* shrinkwrap to contents */
    align-items: center;          /* vertically center img + text */
    background-color: rgba(0,0,0,0.5);
    padding: 0.5rem 1rem;         /* space around the logo+text */
    border-radius: 4px;           /* soften the corners */
    z-index: 2;                   /* sit above the background */
    width: 100%;

  }
  
  /* optional: space between logo and text */
  .img-logo .logo-badge img {
    width: 150px;
    height: auto;
    margin-right: 0.75rem;
  }
  
  .img-logo .logo-badge span {
    font-size: 2.5rem;    /* or whatever fits */
    color: #fff;
    white-space: nowrap;  /* prevent the text wrapping onto two lines */
  }